<legend class="text-center">Questionnaire</legend>
<br>

<h5 class="text-center"><a href="new.html">Add New Questionnaire</a></h5>
<div class="container" data-ng-controller="QuestionnaireCtrl">
    <div class="table-responsive">
        <table id="example" class="table table-striped table-bordered table-hover table-responsive" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>
                        Questionnaire
                    </th>

                    <th>
                        Details
                    </th>
                    <th>
                        Delete
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="questionnaire in questionnaires">
                    <td>
                        {{ questionnaire.name.type }}
                    </td>
                    <td>
                        <a ng-click="setQID(questionnaire.id)">View Details</a>
                    </td>
                    <td>
                        <a href="#">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

</body>

</html>
